@model Scope.Models.Login

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<head>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>

<div class="center">
    <h1>Login</h1>
    <form asp-action="Login" method="post">
        <div class="txt_field">
            <input asp-for="Email" required>
            <span></span>
            <label>Email</label>
        </div>
        <div class="txt_field">
            <input asp-for="Password" required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password ?</div>

        <div class="input-field">
            <input type="submit" class="submit" value="Login">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="text-danger">
                    @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </form>
</div>
    


