@model Scope.Models.Review

<link rel="stylesheet" href="~/css/Review.css" asp-append-version="true" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



<div class="container">
    <h2>Leave a Review</h2>
    <form id="reviewForm" method="post" enctype="multipart/form-data">
        <label for="name"> Name:</label>
        <input type="text" id="name" name="name" required>


        <label for="rating">Rating:</label>
        <div class="star-rating" id="star-container">
            <i class="fas fa-star" data-index="1"></i>
            <i class="fas fa-star" data-index="2"></i>
            <i class="fas fa-star" data-index="3"></i>
            <i class="fas fa-star" data-index="4"></i>
            <i class="fas fa-star" data-index="5"></i>
            <input type="hidden" name="rating" id="selected-rating" required>
        </div>

        <label for="review">Your Review:</label>
        <textarea id="review" name="yourreview" rows="3" required></textarea>

        <button type="submit">Submit Review</button>
    </form>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
</div>

<script src="~/js/Review.js"></script>
@section Scripts {
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}
