

<link rel="stylesheet" href="~/css/Success.css" asp-append-version="true" />

<div class="successimage">
    <img src="~/success.jpg" alt="" width="40%" height="40%" >
</div>


<div class="success-message">Successfully registered</div>